.body{
    text-align: center;
    margin-top:auto;
    color: white;
    font-size: 30px;
    background-image:url("photo-1528722828814-77b9b83aafb2.jpg");
    width: 100%;
    height: 100%;
}
table{
    align-items: center;
    width: 200px;
    height: 200px;
}
input{
    font-size: 65px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
button{
    font-size: 60px;
    background-color: white;
    width: 180px;
    height: 80px;
    border-radius: 10px;
}
.cal{
    display: inline-block;
    border-color:#345678;
    background-color:rgb(134, 110, 238);
    border-radius: 10px;
    height:fit-content;
    

}
